<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Todo</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/create}" th:object="${todo}" method="post">
        <input type="text" th:field="*{title}">
        <input type="checkbox" th:field="*{urgent}" placeholder="urgent">
        <input type="checkbox" th:field="*{done}" placeholder="done">
        <input type="submit" value="create">
    </form>
</div>

</body>
</html>