<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
    <link rel="stylesheet" href="https://www.google.com/css/maia.css">
</head>
<body>
<h1 align="center">List</h1>
<div align="center">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Index</th>
            <th>King</th>
            <th>Good or Bad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${list}" th:object="${account}"
            th:style="*{king}? 'color:orange' ">

            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance,1,2,'POINT')}"></td>
            <td th:text="*{animalType}"></td>
            <td th:text="${accountStat.index}"></td>

            <td><span th:if="*{king}">King</span></td>

            <td th:text="*{good}? 'Good one' : 'Bad guy'"></td>
            <!--<td th:switch="*{good}">-->
            <!--<p th:case==true>Good one</p>-->
            <!--<p th:case==false>Bad guy</p>-->
            <!--</td>-->


        </tr>
        </tbody>
        </tr>
    </table>
    <div>

                <form th:action="@{/raisebyname}" th:method="POST">
                    <input type="text" name="account" id="account"/>
                    <input type="submit" value="increase"/>
                </form>
    </div>
</div>
</body>
</html>