<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>
<body>
<h1>List</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Index</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${list}" th:object="${account}">
            <td th:text="*{name}"></td>
            <td th:text="*{#numbers.formatDecimal(balance,0,2,'POINT')}"></td>
            <td th:text="*{animalType}"></td>
            <td th:text="${accountStat.index}"></td>

        </tr>
        </tbody>
        </tr>
    </table>
</div>
</body>
</html>